html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
body {
  margin: 2% 8%;
  font-family: 'Raleway', sans-serif;
}
@media (max-width: 500px) {
  body {
    margin: 4% 0;
  }
}
section {
  padding: 2% 0;
}
nav {
  display: flex;
  align-items: space-between;
  justify-content: center;
  padding-top: 4%;
}
nav a {
  text-decoration: none;
  color: #4A4A4A;
  font-size: 1.5rem;
  padding: 0 2%;
  border-right: 1px solid #4A4A4A;
  font-weight: lighter;
}
@media (max-width: 500px) {
  nav a {
    font-size: 1rem;
  }
}
nav a:last-child {
  border-right: none;
}
nav a:hover {
  font-weight: bold;
}
.title-container {
  height: 45vh;
  max-width: 100%;
  margin: 4% 8%;
  background-position: center;
  background-image: url('../assets/home.png');
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (max-width: 500px) {
  .title-container {
    height: 30vh;
    margin: 4% 6%;
    background-position: 50% 55%;
  }
}
.title-container h1 {
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  color: white;
}
@media (max-width: 500px) {
  .title-container h1 {
    font-size: 2rem;
  }
}
.title-container button {
  color: #4A4A4A;
  background-color: white;
  padding: 1% 4%;
  font-size: 1rem;
  border-radius: 5px;
  margin-top: 2%;
}
.artists-container {
  display: flex;
  justify-content: center;
  border-top: 2px solid lightgrey;
  margin: 0 5%;
}
@media (max-width: 500px) {
  .artists-container {
    margin: 4% 6%;
    flex-direction: column;
    align-items: center;
    padding: 4% 0 8% 0;
  }
}
.artists-container .artist {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 500px) {
  .artists-container .artist {
    width: 65%;
    margin: 2% 0;
  }
}
.artists-container .artist img {
  max-width: 70%;
  border-radius: 5px;
}
.artists-container .artist a {
  text-decoration: none;
  color: #4A4A4A;
  font-size: 1.2rem;
  padding-top: 4%;
}
@media (max-width: 500px) {
  .artists-container .artist a {
    font-size: 1rem;
  }
}
.artists-container .artist .bio {
  text-align: center;
  color: #4A4A4A;
  font-size: 0.85rem;
  padding: 4% 4%;
}
@media (max-width: 500px) {
  .artists-container .artist .bio {
    font-size: 0.6rem;
  }
}
