nav {
    display: flex;
    align-items: space-between;
    justify-content: center;
    padding-top: 4%;

    a {
        text-decoration: none;
        font-size: 1.5rem;
        color: @mainFontColor;
        padding: 0 2%;
        border-right: 1px solid @mainFontColor;
        font-weight: lighter;

        @media (max-width: 500px) {
            font-size: 1rem;
        }

        &:last-child {
            border-right: none;
        } 
        &:hover {
            font-weight: bold;
        }
    }
} // end of nav